/* Udacity "Personal Blog Website" Front-End Project - Robin Edmunds */
/* colour pallete: https://www.colourlovers.com/palette/3921173/Simple_As_That */

/* FLEXBOX - CARD CONTAINER */
.flex {
  display: flex;
  flex-direction: column;
}

/* FLEXBOX - CARD */
.slug-card {
  display: flex;
  flex-direction: row;
  color: #F7F4ED;
  background-color: #71969F;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
}
.slug-image {
  flex: 1;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.slug-image img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}
.slug-text {
  flex: 3;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.slug-text button {
  font-size: 1.2em;
  font-family: inherit;
  width: 100%;
  height: 1.8em;
  background-color: #F7F4ED;
  border-radius: 10px;
  border-color: #DCBEC0;
}
