/* Udacity "Personal Blog Website" Front-End Project - Robin Edmunds */
/* colour pallete: https://www.colourlovers.com/palette/3921173/Simple_As_That */

/* CSS IMPORTS */
@import url("index/slug-card.css");
@import url("post/post.css");
@import url("post/author-card.css");

/* GLOBAL STYLES */
body {
  background-color: #5B2036;
  font-family: 'Merriweather', serif;
}
a {
  color: #71969F;
  text-decoration: none;
}
a:hover {
  color: #5B2036;
  text-decoration: underline;
  text-decoration-color: #F7F4ED;
}
footer {
  opacity: 0.5;
  color: #5B2036;
}
h2 {
  font-size: 2em;
}
.grid-layout {
  max-width: 1280px;
}
.header {
  font-weight: bold;
  font-size: 1.8em;
  text-shadow: 1px 1px 2px #5B2036;
}
.navigation li {
  padding-bottom: 1em;;
}

/* MOBILE SCREEN */
@media screen and (max-width: 720px){
  /* GRID LAYOUT */
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px;
  }
  .header,
  .content,
  .navigation,
  .footer {
    background-color: #DCBEC0;
    border-radius: 10px;
    padding: 20px
  }
  .header {
     grid-area: 1 / 1 / 2 / 2;
  }
  .navigation {
    grid-area: 2 / 1 / 3 / 2;
  }
  .content {
    grid-area: 3 / 1 / 4 / 2;
  }
  .footer {
    grid-area: 4 / 1 / 5 / 2;
    text-align: center;
  }
}

/* TABLET SCREEN */
@media screen and (min-width: 721px) {
  /* GRID LAYOUT */
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px;
  }
  .header,
  .content,
  .navigation,
  .footer {
    background-color: #DCBEC0;
    border-radius: 10px;
    padding: 20px
  }
  .header {
     grid-area: 1 / 1 / 2 / 2;
  }
  .navigation {
    grid-area: 2 / 1 / 3 / 2;
  }
  .content {
    grid-area: 3 / 1 / 4 / 2;
  }
  .footer {
    grid-area: 4 / 1 / 5 / 2;
    text-align: center;
  }
}
/* LARGE SCREEN */
@media screen and (min-width: 900px) {
  /* GRID LAYOUT */
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px;
  }
  .header,
  .content,
  .navigation,
  .footer {
    background-color: #DCBEC0;
    border-radius: 10px;
    padding: 20px
  }
  .header {
    grid-area: 1 / 1 / 2 / 7;
  }
  .content {
    grid-area: 2 / 1 / 3 / 6;
  }
  .navigation {
    grid-area: 2 / 6 / 3 / 7;
  }
  .footer {
    grid-area: 3 / 1 / 4 / 7;
    text-align: center;
  }
}
