/* Udacity "Personal Blog Website" Front-End Project - Robin Edmunds */
/* colour pallete: https://www.colourlovers.com/palette/3921173/Simple_As_That */

/* FLEXBOX - SLUG-CARD */
.slug-container {
  display: flex;
  flex-direction: column;
}

.slug-card {
  color: #F7F4ED;
  background-color: #71969F;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
}

.slug-text button {
  font-family: inherit;
  font-size: 1.2em;
  width: 100%;
  height: 1.8em;
  background-color: #F7F4ED;
  border-radius: 10px;
  border-color: #DCBEC0;
}


/* MOBILE SCREEN */
@media screen and (max-width: 720px) {
  /* FLEXBOX - CARD */
  .slug-card {
    display: flex;
    flex-direction: column;
  }

  .slug-image {
    padding: 5px;
  }

  .slug-image img {
    border-radius: 10px;
    max-width: 100%;
  }

  .slug-text {
    padding: 5px;
  }

}


/* TABLET + LARGE SCREENS */
@media screen and (min-width: 721px) {
  /* FLEXBOX - CARD */
  .slug-card {
    display: flex;
    flex-direction: row;
  }

  .slug-image {
    flex: 1;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .slug-image img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
  }

  .slug-text {
    flex: 3;
    padding-left: 25px;
  }

}
