/* Udacity "Personal Blog Website" Front-End Project - Robin Edmunds */
/* colour pallete: https://www.colourlovers.com/palette/3921173/Simple_As_That */

.author-card {
  display: flex;
  background-color: #71969F;
  color: #F7F4ED;
  padding: 25px;
  border-radius: 10px;
}


/* MOBILE + TABLET SCREEN */
@media screen and (max-width: 700px) {
  .author-card {
    flex-direction: column;
    align-items: center;
  }

  .author-avatar {
    width: 60%;
    margin-bottom: 25px;
  }

  .author-avatar img {
    max-width: 100%;
    border-radius: 10px;
  }

  .author-socials {
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: #F7F4ED;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 25px;
  }

  .author-icon {
    margin-left: auto;
    margin-right: auto;
  }

  .author-icon img {
    max-width: 100px;
    min-width: 40px;
  }

}

/* LARGE SCREEN */
@media screen and (min-width: 701px) {
  .author-card {
    flex-direction: row;
  }

  .author-avatar {
    display: block;
    flex: 4;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .author-avatar img {
    max-width: 100%;
    border-radius: 10px;
  }

  .author-text {
    display: block;
    flex: 12;
    margin-top: auto;
    margin-bottom: auto;
  }

  .author-socials {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F7F4ED;
    padding: 10px;
    border-radius: 10px;
  }

  .author-icon {
    margin-top: auto;
    margin-bottom: auto;
  }

  .author-icon img {
    max-width: 100px;
    min-width: 40px;
  }

}
